**/images/
**/.pytest_cache/
**/__pycache__/
**/.idea/
**/code_outputs_files/
**/code_outputs_files_saturn_a_outliers/
**/code_outputs_saturn_a_outliers/
**/code_outputs_no_experimenter/
**/code_outputs_files_no_experimenter/
